@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts.scss);

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Inter-Regular';

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --light: #fff;
  --secondary-light: #f8f8f8;
  --dark: #000;
  --dark-gray: #808080;
  --outlined-bg: #f5f7fd;
  --primary-bg-color: #f5f7fd; // дымчатый синий
  --secondary-bg-color: #dae2f1;

  --primary-color: #1e3573; // основной цвет кнопки
  --secondary-color: #6f8bc3; //  доп синий, юзается для неактивных табов
  --danger-color: #fa4f40;

  --primary-text-color: #222222;
  --secondary-text-color: #a6aeb5;

  --success: #4caf50;

  --z-index-header: 100;
}

* {
  font-family: 'Inter-Regular';
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  line-height: normal;
  transition: all 0.5s;
}
a:hover {
  color: #535bf2;
}

html {
  background: var(--light);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  font-size: 15px;
  letter-spacing: 0.05em;
  background: var(--light);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  font-family: 'Inter-SemiBold';
  font-weight: bold;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  width: 100%;
  max-width: 1632px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
