@mixin primary-gradient {
  background: linear-gradient(
    to bottom,
    rgba(72, 117, 185, 1),
    rgba(90, 161, 239, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@mixin primary-btn-gradient {
  background: linear-gradient(
    to bottom,
    rgba(90, 161, 239, 1),
    rgba(72, 117, 185, 1)
  );
}
