@import '../../../../app/styles/mixin.scss';

.ModalGameWin {
  position: relative;
  .paper {
    background-color: var(--bg-modal);
    border-radius: 16px;
    padding: 20px 65px 30px 65px;
    overflow-y: inherit;
    position: relative;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    overflow-y: inherit;
    .title {
      font-family: 'Inter-Bold';
      display: flex;
      color: var(--light);

      .accentColor {
        font-family: 'Inter-Bold';
        @include primary-gradient;
      }
    }

    .box {
      .imageWrapper {
        position: relative;
        width: 115px;
        height: 115px;
        margin-top: 29px;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          border-radius: 50%;
          box-shadow: 0px 0px 52px 52px var(--accent-color);
          z-index: 0;
        }

        .img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: relative;
          z-index: 1;
        }
      }

      .name {
        margin-top: 9px;
      }
    }

    .btn {
      font-family: 'Inter-Medium';
      margin-top: 49px;
    }
  }
}

.closeButton {
  width: 28px;
  height: 28px;
  position: absolute !important;
  top: 12px;
  right: 12px;
  color: var(--light); // можно кастомизировать цвет
  background: #22252c !important;
  border-radius: 8px !important;

  &:hover {
    color: var(--accent-color);
  }
}
