@import '../../../../app/styles/mixin.scss';

.TasksListItemNotCompleted {
  width: 100%;
  // max-width: 389px;
  @include primary-border-dashed;
  padding: 22px 22px 24px 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 59px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: rgba(98, 102, 118, 0.4);
    .description {
      color: rgba(98, 102, 118, 0.4);
    }
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    .btn {
      font-weight: 600;
    }
    .icon {
      width: 44px;
      height: 44px;
    }
  }
}
