.Nav {
  display: flex;
  align-items: center;
  background: var(--secondary-bg);
  padding: 12px;
  width: fit-content;
  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    .link {
    }
  }
}
