.Nav {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoGame {
    @media (max-width: 780px) {
      display: none;
    }
  }
}
