.modalHeader {
  font-size: 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    color: var(--light);
  }
}

.modalBody {
  flex: 1;
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-top: 8px;
}
