@import '../../../../app/styles/mixin.scss';

.DailyBonusesClaimDailyReward {
  width: 100%;
  max-width: 157px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  @include primary-border-dashed;
  font-family: 'Inter-Bold';
  @media (max-width: 980px) {
    min-width: 157px;
  }
  // @media (max-width: 540px) {
  //   max-width: 64px;
  //   min-width: 64px;
  // }
}
