.main {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding-right: var(--padding-sm);
  padding-left: var(--padding-sm);
}

:global(.MuiContainer-root) {
  &.container {
    width: 100%;
    max-width: var(--container-width);
    padding-left: 0;
    padding-right: 0;
  }
}
