.DailyBonusesLocked {
  width: 100%;
  max-width: 157px;
  padding: 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: all 0.5s;
  background: var(--secondary-bg);
  .text {
    color: var(--light) !important;
  }
  @media (max-width: 980px) {
    min-width: 157px;
  }
}
