@import '../../../../app/styles/mixin.scss';

.TasksListItemCompleted {
  width: 100%;
  padding: 22px 22px 24px 22px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  background-color: var(--secondary-bg);
  position: relative;

  &::after {
    content: '';
    right: -200px;
    bottom: -200px;
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -120px -120px 220px 13px var(--accent-color);
  }

  .IconTicketActive {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .header {
    display: flex;
    flex-direction: column;
    gap: 14px;
    .title {
      width: 100%;
      max-width: 85%;
      .accent {
        @include primary-gradient;
      }
    }

    .task {
      font-family: 'Inter-Bold';
      .accent {
        @include primary-gradient;
      }
    }
  }

  .item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    gap: 8px;
    .btn {
      font-weight: 600;
    }
    .money {
      width: 88px;
      height: 88px;
    }
  }
}
