@import '../../../../app/styles/mixin.scss';

.RouletteHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
  .item {
    display: flex;
    gap: 13px;
    align-items: center;
    .title {
      .titleAccent {
        @include primary-gradient;
      }
    }
  }
  .courtTicket {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  @media (max-width: 780px) {
    .courtTicket {
      display: none;
    }
  }
}
