:global(.MuiButton-root) {
  &.LoginButton {
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    padding-left: var(--padding-md);
    padding-right: var(--padding-md);
  }
}
